.mainJumbo {
  background-image: url("./pics/toronto.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.mainCont {
  text-align: center;
  margin-top: 10vh;
}
.myName,
.myDesc {
  font-family: "Acme";
  font-size: 6em;
  font-family: "Boogaloo";
  line-height: 1;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 1.25px 1.25px 1.25px rgba(0, 0, 0, 0.6);
}
.myDesc {
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 3.5vh;
  padding-bottom: 5.5vh;
  border-bottom: solid 1px #fff;
  white-space: nowrap;
}
.socBut {
  font-family: "Boogaloo";
}
