html {
  scroll-behavior: smooth;
}

/* General font from Google Fonts */
.frontMain {
  font-family: "Josefin Sans";
}

/* Main screen, background set uo viewpoint */
.mainJumbo {
  background-image: url("./pics/toronto.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  margin-bottom: 0;
}

/*Everything in main viewpoint is centered */
.mainCont {
  text-align: center;
  margin-top: 13vh;
}
/* Main viewpoint text shadowed */
.myName,
.myDesc {
  font-size: 5em;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* Make description readable */
.myDesc {
  margin-bottom: 4vh;
  font-size: 3vh;
  padding-bottom: 5.5vh;
  border-bottom: solid 1px #fff;
  white-space: nowrap;
}
/* Nav */
.navbar-light {
  background-color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* About Me */
.aboutMeJumbo {
  background-color: #012226;
  margin-bottom: 0;
  color: #fff;
}
.aboutMeText {
  font-size: 4vh;
  padding-left: 15vh;
  text-decoration: underline;
}
.aboutMePara {
  font-size: 2.5vh;
  font-weight: normal;
  padding-top: 5vh;
  padding-left: 15vh;
}
.emailText,
.actualEmail {
  font-size: 2.5vh;
  font-weight: normal;
  padding-left: 15vh;
}
.emailText {
  padding-top: 6vh;
  text-decoration: underline;
}
